<div class="container" *ngIf="userid != 'USR64308'">
  <div class="card d-flex justify-content-center cardblackboard">

    <h4 class="text-center f-w-600  " style="color: white;"> Name : {{fullname }}</h4>
    <br>
    <h4 class="text-center f-w-600" style="color: white;" *ngIf="coursename == 'Career Awareness'">A Survey on Students’
      Career Aspirations 2025-26</h4>
    <h4 class="text-center f-w-600" style="color: white;" *ngIf="coursename != 'Career Awareness'">{{coursename}}</h4>
    <br>
    <div class=" text-center" *ngIf="examcount < 3">
      <button class="btn btn-success" (click)="Start()">Start </button>
    </div>
    <h5 *ngIf="examcount == 3" class=" text-center" style="color: white;">All Attempt Done</h5>
    <hr style="height: 2px;background-color: #ccc; border: none;margin-right: 40px;margin-left: 40px">

    <h5 *ngIf="examcount == 3" class=" text-center" style="color: white;">Previous Attempt Summary</h5>
    <br>
    <div class="row justify-content-center" *ngIf="prevgrade !=0 ">
      <div class="col-auto">
        <table class="table table-responsive" style="color: white;">
          <tr>
            <td><b>Course</b></td>
            <td>{{coursename}}</td>
          </tr>
          <tr>
            <td><b>Language</b></td>
            <td>{{prevlanguage}}</td>
          </tr>
          <tr>
            <td><b>Grade</b></td>
            <td>{{FinalGrade}}</td>
          </tr>
          <!-- *ngIf="!coursename == 'Digital and Financial Literacy (Women)' || !coursename == 'Digital Literacy (Adolescent)' || !coursename == 'Digital and 21st Century Skills (Youth)' || !coursename == 'Digital and Financial Literacy (Women) - Baseline' || !coursename == 'Digital Literacy (Adolescent) - Baseline' || !coursename == 'Digital and 21st Century Skills (Youth) - Baseline'" -->
          <tr
            *ngIf="!coursename == 'Digital Literacy for Employment 2022-23' || !coursename == 'Digital Literacy for Employment IBM' || !coursename == 'Digital Literacy for Employment Spoke'">
            <td></td>
            <!-- <td><b><a target="_blank" [routerLink] = "['/PrimaryCertificate',username,coursename]">View Certificate</a></b></td> -->
            <td><b><a (click)="CertificateRedirect()" style="color: rgb(25, 162, 241);cursor: pointer;">View
                  Certificate</a></b></td>
          </tr>
        </table>

      </div>
    </div>
    <h5 *ngIf="prevgrade ==0 " class=" text-center" style="color: white;">No Previous Attempt</h5>
  </div>


</div>
<div class="container" *ngIf="userid == 'USR64308'">
  <div class="card d-flex justify-content-center cardblackboard pb-3">

    <h4 class="text-center f-w-600  " style="color: white;"> {{fullname }}</h4>
    <br>
    <h4 class="text-center f-w-600  " style="color: white;"> {{coursename }}</h4>
    <br>
    <div class=" text-center">
      <button class="btn btn-success" (click)="Start()">Start </button>
    </div>
  </div>


</div>
<div class="lds-roller" *ngIf="loading">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>