
.pl-2, .px-2 {
    padding-left: 2.5rem!important;
}
.header {
    border-bottom: 1px solid #eee;
    box-shadow: 4px 2px 2px #EFEFEF;
}
.header_section {
    height: 78px;
    padding: 15px 0 0;
}
.container{
    padding-top: 70px;
}