<section class="registration-section">
    <div class="container pt-5 pb-3">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="card shadow-lg border-0">
                    <div class="card-header bg-primary text-white py-3">
                        <h4 class="mb-0 text-center">Mobilize Student Registration</h4>
                    </div>

                    <div class="card-body p-4">
                        <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
                            <h5 class="section-title">Participant Details</h5>

                            <div class="row mb-4">
                                <div class="col-md-8 mb-4 mb-md-0 mb-lg-0">
                                    <label>{{ dropdownLabel }} Name <span class="required">*</span></label>

                                    <input type="text" class="form-control" [placeholder]="dropdownLabel + ' Name'"
                                        formControlName="CenterName" readonly>

                                    <div class="text-danger" *ngIf="f.CenterName.touched && f.CenterName.errors">
                                        {{ dropdownLabel }} Name is required
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>State <span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="State" formControlName="State"
                                        readonly>

                                    <div class="text-danger" *ngIf="f.State.touched && f.State.errors">
                                        State is required
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-3 mb-4 mb-md-0 mb-lg-0">
                                    <label>District <span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="District"
                                        formControlName="District" readonly>
                                    <div class="text-danger" *ngIf="f.District.touched && f.District.errors">
                                        District is required
                                    </div>
                                </div>

                                <div class="col-md-3 mb-4 mb-md-0 mb-lg-0">
                                    <label>City <span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="City" formControlName="City"
                                        readonly>
                                    <div class="text-danger" *ngIf="f.City.touched && f.City.errors">
                                        City is required
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Full Name <span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Full Name"
                                        formControlName="StudentName">
                                    <div class="text-danger" *ngIf="f.StudentName.touched && f.StudentName.errors">
                                        Full CenterName is required
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4 mb-4 mb-md-0 mb-lg-0">
                                    <label>Aadhar Number <span class="required">*</span></label>
                                    <input type="text" inputmode="numeric" class="form-control"
                                        placeholder="Enter Mobile Number" (input)="onlyNumbersAadhar($event)"
                                        formControlName="AadhaarNumber" maxlength="12">
                                    <div class="text-danger" *ngIf="f.AadhaarNumber.touched && f.AadhaarNumber.errors">
                                        Enter a valid 12-digit aadhar number
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Mobile Number <span class="required">*</span></label>
                                    <input type="tel" inputmode="numeric" class="form-control"
                                        placeholder="Enter Mobile Number" (input)="onlyNumbers2($event)"
                                        formControlName="MobileNo" maxlength="10">
                                    <div class="text-danger" *ngIf="f.MobileNo.touched && f.MobileNo.errors">
                                        Enter a valid 10-digit mobile number
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Email ID</label>
                                    <input type="Email" class="form-control" placeholder="Enter Email Address"
                                        formControlName="Email">
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 mb-4 mb-md-0 mb-lg-0">
                                    <label>Date of Birth <span class="required">*</span></label>
                                    <input type="date" class="form-control" formControlName="DOB"
                                        (change)="onDateOfBirthChange()">
                                    <div class="text-danger" *ngIf="f.DOB.touched && f.DOB.errors">
                                        Date of birth is required
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Age (Auto) <span class="required">*</span></label>
                                    <input type="text" class="form-control" formControlName="Age"
                                        placeholder="Age will be calculated automatically" readonly>
                                    <div class="text-danger" *ngIf="f.Age.touched && f.Age.errors">
                                        Age is required
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-4 mb-4 mb-md-0 mb-lg-0">
                                    <label>Gender <span class="required">*</span></label>
                                    <select class="form-control" formControlName="Gender">
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>

                                    <div class="text-danger" *ngIf="f.Gender.touched && f.Gender.errors">
                                        Gender is required
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <label>Highest Educational Qualification <span class="required">*</span></label>
                                    <select class="form-control" formControlName="Qualification">
                                        <option value="">Select</option>
                                        <option *ngFor="let Qualification of qualificationOptions"
                                            [value]="Qualification">
                                            {{ Qualification }}
                                        </option>
                                    </select>

                                    <div class="text-danger" *ngIf="f.Qualification.touched && f.Qualification.errors">
                                        Highest educational Qualification is required
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-8 mb-4 mb-md-0 mb-lg-0">
                                    <label>Address <span class="required">*</span></label>
                                    <textarea class="form-control" formControlName="Address"
                                        placeholder="Address"></textarea>
                                    <div class="text-danger" *ngIf="f.Address.touched && f.Address.errors">
                                        Address is required
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Pincode <span class="required">*</span></label>
                                    <input type="tel" inputmode="numeric" maxlength="6" class="form-control"
                                        formControlName="PinCode" placeholder="Pincode" (input)="onlyNumbers($event)">
                                    <div class="text-danger"
                                        *ngIf="f.PinCode.touched && f.PinCode.errors?.['required']">
                                        Pincode is required
                                    </div>
                                    <div class="text-danger" *ngIf="f.PinCode.touched && f.PinCode.errors?.['pattern']">
                                        Enter a valid 6-digit PinCode.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 mb-4 mb-md-0 mb-lg-0">
                                    <label>No. of Family Members<span class="required"> *</span></label>
                                    <select class="form-control" formControlName="NumberOfFamily">
                                        <option value="">Select</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="f.NumberOfFamily.touched && f.NumberOfFamily.errors">
                                        No. of Family Members is required
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0 mb-lg-0">
                                    <label>Job Interested <span class="required">*</span></label>
                                    <select class="form-control" formControlName="JobInterested">
                                        <option value="">Select</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="f.JobInterested.touched && f.JobInterested.errors?.['required']">
                                        Job Interested is required
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                                    <label>Model <span class="required">*</span></label>
                                    <select class="form-control" formControlName="Model">
                                        <option value="">Select</option>
                                        <option value="Workshop">Workshop</option>
                                        <option value="PBL">PBL</option>
                                    </select>
                                    <div class="text-danger" *ngIf="f.Model.touched && f.Model.errors?.['required']">
                                        Model is required
                                    </div>
                                </div> -->
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6 mb-2 mb-md-2 mb-lg-2">
                                    <label>How did you know about the program? <span class="required">*</span></label>
                                    <select class="form-control" formControlName="YouKnow">
                                        <option value="">Select</option>
                                        <option value="Neighbours">Neighbours</option>
                                        <option value="Friends">Friends</option>
                                        <option value="Family Member">Family Member</option>
                                        <option value="Pratham InfoTech Foundation Team Member">Pratham InfoTech
                                            Foundation Team Member</option>
                                        <option value="Own">Own</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div class="text-danger" *ngIf="f.YouKnow.touched && f.YouKnow.errors">
                                        How did you know about the program is required
                                    </div>
                                </div>
                            </div>

                            <!-- DECLARATION SECTION -->
                            <div class="row mb-4">
                                <div class="col-12">
                                    <h5 class="section-title">Declaration</h5>

                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" id="declaration1"
                                            formControlName="declaration1">
                                        <label class="form-check-label" for="declaration1">
                                            I hereby declare that the information furnished above is true, complete and
                                            correct to the best of my knowledge and belief. I understand that in the
                                            event of my information being found false or incorrect at any stage, my
                                            candidature shall be liable to cancellation/termination without notice.
                                            <span class="required">*</span>
                                        </label>
                                        <div class="text-danger"
                                            *ngIf="f.declaration1.touched && f.declaration1.errors">
                                            You must accept this declaration to proceed.
                                        </div>
                                    </div>

                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" id="declaration2"
                                            formControlName="declaration2">
                                        <label class="form-check-label" for="declaration2">
                                            I hereby provide my consent to Pratham InfoTech Foundation for the use of my
                                            photographs, electronic media images, and personal details in any reports,
                                            presentations, and social media posts of any kind. <span
                                                class="required">*</span>
                                        </label>
                                        <div class="text-danger"
                                            *ngIf="f.declaration2.touched && f.declaration2.errors">
                                            You must accept this consent to proceed.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <button class="btn btn-primary px-5" type="submit"
                                    [disabled]="registrationForm.invalid || isSubmitting">
                                    {{ isSubmitting ? 'Submitting...' : 'Submit Registration' }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>